extends layout

block content
	div.row#aboutmepage
		div.two.columns
			img(src="/images/catherine.jpg").aboutimg
		div.seven.columns#aboutmebox
			p Hi there again! Looks like you want to know more about me! So here we go! :)
			p I am a 
				span#iam(onmouseover="changeText(this.id)") computer science undergrad
				| ,
			p I love 
				span#ilike(onmouseover="changeText(this.id)") HTML5
				| .
			p I am using 
				span#used(onmouseover="changeText(this.id)") Node.js 
				|  to make this page. 
			span Feel free to browse the links on this page, and you are always welcome to 
				a(href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=tan.l.catherine@gmail.com", target="_blank") email 
				| me for my resume or other inquiries.
		div.two.columns
			ul#mylinks
				li
					a(href="http://ca.linkedin.com/pub/catherine-tan/11/790/2a7",target="_blank") LinkedIn
				li
					a(href="https://github.com/catherinettt", target="_blank") GitHub 
				li
					a(href="http://twitter.com/catherinettt", target="_blank") Twitter 
				li
					a(href="http://ink361.com/#/users/682360/photos", target="_blank") Instagram
				li
					a(href="http://prettygeekycat.blogspot.ca/", target="_blank") Blogger