extends layout

block content
	div.row#engagebox
		div.twelve.columns
			div
				img#engage_logo(src="/images/engage/SFUEngage_logo.png")
				
			p	A new way to manage and share your acadamic resourses
			hr
			h2 Desktop
			img(src="/images/engage/engage_main.png")
			hr
			div#mobile	
				h2 Mobile		
				p Read as you go	
				img(src="/images/engage/mobile_2.png")
				img(src="/images/engage/mobile_1.png")
				img(src="/images/engage/mobile_3.png")
			hr
			a.button Launch
			a(href="/images/engage/Engage_Presentation.pdf", target="_blank").button Final Presentation
			a.button Git Repo