extends layout

block content
	div.row#engagebox
		div.twelve.columns
			div
				img#engage_logo(src="/images/engage/SFUEngage_logo.png")
				
			p	A new way to manage and share your acadamic resourses
			hr
			h2 Desktop
			img(src="/images/engage/engage_main.png")
			hr
			div#mobile	
				h2 Mobile		
				p Read as you go	
				img(src="/images/engage/mobile_2.png")
				img(src="/images/engage/mobile_1.png")
				img(src="/images/engage/mobile_3.png")
			hr
			div#member.seven.columns.centered
				h2 Team Members
				ul Marketing
					li 
						a(href="http://ca.linkedin.com/pub/farzin-faghihi/37/bb5/877", target="_blank") Donald Lee
					li 
						a(href="http://ca.linkedin.com/pub/donald-lee/37/121/349", target="_blank") Farzin Faghihi
				ul Design
					li
						a(href="http://normantam.com/", target="_blank") Norman Tam
					li 
						a(href="http://www.aldrich.ca", target="_blank") Aldrich Tan
					li 
						a(href="http://gracellemesina.com/gracelle_mesina/Gracelle_M___Home.html", target="_blank") Gracey Mesina
				ul Development
					li 
						a(href="/") Catherine Tan
					li Mark Ni
					li Hedy Liu
			a(href="http://142.58.21.189:3000/", target="_blank").button Launch
			a(href="/images/engage/Engage_Presentation.pdf", target="_blank").button Final Presentation
			a(href="https://github.com/sfu-innovation/project-xavier", target="_blank").button Git Repo