extends layout

block content
	div.row
		div.six.columns#intro
			p Hi! 
			p This is Catherine, I am a senior computer science student at Simon Fraser University of Beautiful British Columbia, Canada. 
			p I love the web, I enjoy coding for the web. 
			p
				a(href="/about") read more about me
				
		div.six.columns#latest_project
			span Latest Project
			a(href="http://142.58.21.189:3000/", target="_blank")	
				h4 SFU ENGAGE
				img(src="/images/engage_iphone_screenshot.png")
			span An responsive online acadamic resouces organizer
			
			br
			a(href="/projects") view more projects