extends layout

block content
	div.row
		div.six.columns#intro
			p Hi! 
			p This is Catherine, I am a senior computer science student at Simon Fraser University of Beautiful British Columbia, Canada. 
			p I love the web, I enjoy coding for the web. 
		div.three.columns#latest_project
			span Latest Project
			a(href="http://142.58.21.189:3000/", target="_blank")	
				h4 SFU ENGAGE
			a(href="/projects") other projects