extends layout

block content
	div.row
		div.four.columns#intro
			p Hi! 
			p This is Catherine, I am a senior computer science student at Simon Fraser University of Beautiful British Columbia, Canada. 
			p I love the web, I enjoy coding for the web. 
		div.three.columns.end#latest_project
			span Latest Project
			h4 SFU Mobile
			a(href="/projects") other projects