extends layout

block content
	div.row
		div.seven.columns#intro
			p Hi! This is Catherine, I am a senior computer science student at Simon Fraser University of Beautiful British Columbia, Canada. 
			p I am passionate about the web and my goal is to help engage people to interact in this fast moving digital with the latest web technologies.
			p
				a(href="/about") read more
				
		div.five.columns#latest_project
			span Latest Project
			a(href="./projects/engage")	
				h4 SFU ENGAGE
				img(src="/images/engage_iphone_screenshot.png")
			span A responsive online academic resouces organizer
			br
			br
			a(href="/projects") view more projects