extends layout

block content



	div.row#threesixty
		div.twelve.columns
			p I have been taking panoramas with my iPhone for quite some time. :)
				|Here is the 
				a(href="http://prettygeekycat.blogspot.ca/2012/02/how-to-take-great-panoramas-using-your.html", target="_blank") blog 
				|  I wrote on how I did them.
		div.twelve.columns.centered		
			each i in photos
				img.panoramas(src="#{i["url"]}")
			