extends layout

block content



	div.row#threesixty
		div.twelve.columns
			p I have been taking panoramas with my iPhone for quite some time. :)
				|Here is the 
				a(href="http://prettygeekycat.blogspot.ca/2012/02/how-to-take-great-panoramas-using-your.html", target="_blank") blog 
				|  I wrote on how I did them.
		div.twelve.columns.centered		
			
				
			img.panoramas(src="#{photos[0]}")
			a.button#next next
			script
				var i = 1;
				var list = "#{photos}".split(",")
				
				console.log(list)
				$("#next").click(function(){
					if (i < #{count}){
						console.log(list[i]);
						$("img.panoramas").attr("src", list[i])
						i++;
					}
					else {
						i = 0;
						$("img.panoramas").attr("src", list[i])
						console.log(list[i]);
					}
				});