/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body{
	
	background: url(/images/dust.png);
	background-repeat: repeat;
	font-family: 'Quicksand', sans-serif;
	color: #555;
	margin-bottom: 20px;
}
#header{
	padding-top: 20px;
	border-top: 12px solid #555;
	margin-bottom: 20px;
}

#header h1{
	font-family: 'Quicksand', sans-serif;
	text-shadow: #D9D9D9 3px 3px 0px;
	white-space: nowrap;
	font-weight: normal;
	margin-bottom: 0;
	font-size: 36px;
}
#header span#subtitle{
	font-weight: 300;
	margin-left: 3px;

}

a{
	color: #555;
	padding-bottom: 5px;
	
}


a:link{
	font-weight: bold;
	
}



a:hover{
	color: #555;
	
}

	
a.button{
	font-family: 'Quicksand', sans-serif;
	background: #888;
	border-color: #555;
	border-radius: 3px;
}

a.button:hover{
	background-color: #555;
}

#headline h1{
	font-family: 'Squada One', sans-serif;
}

/* -----------------------------------------
   Nav Bar
----------------------------------------- */
div#nav_bar_padding{
	height: 30px;
	
}
ul#nav_bar{
	text-align: right;
	list-style: none;
}
ul#nav_bar li.nav{
	
	text-align: center;
	display: inline-block;
	margin: 0 10px;
	margin-top:5px;
	cursor: pointer;
}

ul#nav_bar li.nav a{
	font-size: 20px;
	font-weight: normal;
	line-height: 38px;
	text-shadow: #D9D9D9 1px 1px 0px;
	}
	

ul#nav_bar li.nav a:hover{	
	border-bottom:1px dashed #bcbcbc;
	}
ul#nav_bar span.glyph{

	display: none;
	margin-right:5px;
	margin-top: 4px;
	vertical-align: top;s
}
/* -----------------------------------------
   Page Name 2
----------------------------------------- */
.project_box{
	margin-top:20px;
}

.project_innerbox{
	background: white;
	padding: 10px 15px;
	margin-bottom: 15px;
	border-radius: 10px;
}

.project_innerbox:hover{
	position: relative; 
   top: -3px; 
   left: -3px; 
   box-shadow: 1px 1px #888, 
                2px 2px #888, 
                3px 3px #888, 
                4px 4px #888;
}
p.project_description{
	min-height: 70px;
	text-overflow: ellipsis;
	line-height: 16px;
	
}


.project_innerbox h4{
	margin-bottom: 2px;
	margin-top: 2px;
	
}
span.project_role{
	display: inline-block;
	font-style: italic;
	margin-bottom: 5px;
	font-size: 12px;
	
	
}
span.skills{
	display: block;
	height: 24px;
	font-size: 12px;
	margin: 10px 0;
	line-height: 14px;
	
}
.project_linkbox{
	height: 20px;
	display: block;
	clear: both;
	margin-top: 8px;
}
a.project_github{
	float: right;
	height: 20px;
	}
a.project_github img{
	height: 20px;
	}
/* -----------------------------------------
   360s
----------------------------------------- */	
img.panoramas{
	margin-bottom: 30px;
	display: block;
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0.6);
    -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	
}

img.panoramas:hover{
	filter: none;
    -webkit-filter: grayscale(0);

}
#threesixty p {
	margin-top: 20px;
	margin-bottom: 20px;
}
#latest_project{
	background-color: rgba(255,255,255,0.8);
	padding: 15px;
	text-align: right;
	
}

#threesixty .button{
	
	background: rgba(255, 255, 255, 0.5);
	border: none;
	top: 10px;
	position: absolute;
	right: 15px;
	color: #555;
	border-radius: 0;
}

#threesixty .button:hover{
	color: #555;
	background: rgba(255, 255, 255, 0.8);
}
/* -----------------------------------------
   about
----------------------------------------- */	
#aboutmepage{
	margin-top: 20px;
}
ul#mylinks{
	
	text-align: right;
	list-style: none;
	background-color: rgba(255,255,255,0.6);
	padding: 10px;
	
}
ul#mylinks li{
	font-size: 16px;
	}

img.aboutimg{
	max-width: 137px;
	text-align: center;
	margin-bottom: 20px;
}

#aboutmebox p{
	font-size: 20px;
	line-height: 1;
	
	
}

#aboutmebox p span{
	display: inline-block;
	background-color: rgba(255,255,255,0.9);
	padding: 3px;
	}
/* -----------------------------------------
   engage
----------------------------------------- */
div#engagebox{
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	
}
div#engagebox .columns{
	text-align: center;
	}
	
div#engagebox img#engage_logo{
	width: 250px;
	border: 0;
	}
div#engagebox a.button{
	margin: 0 5px;
	margin-bottom: 10px;
	
}
div#engagebox p{
	padding: 10px;
	
}
#engagebox #mobile{
	margin-bottom: 20px;
}
#engagebox #mobile img{
	padding: 5px;
	width: 33%;
	
}
#member{
	
	margin-bottom: 20px;
}
#member ul{
	
	text-align: left;
	font-weight: bold;
	vertical-align: top;
	list-style: none;
	font-size: 18px;

}

#member ul li{
	font-weight: normal;
	font-size: 14px;
	}
#member ul li a:link{
	font-weight: normal;
}